@model Jamiahsalafiyah.Web.Models.CompanyClass

@{
    ViewBag.Title = "Company Info Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Company Info Edit</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('li.active active-menu').removeClass('active active-menu');
        $('a[href="/Companies/UserEdit"]').closest('li').addClass('active active-menu');

        var p = "#StateCode";
        var c = "#CityKey";
        var z = "#ZIPKey";

        var url1 = '@Url.Content("~/")' + "Utility/GetStateName";
        var url2 = '@Url.Content("~/")' + "Utility/GetCityName";
        var url3 = '@Url.Content("~/")' + "Utility/GetZIPcode";

        $.getJSON(url1, { Dis: $(p).val() }, function (data) {
            $("#StateName").val(data);
        });
        $.getJSON(url2, { Dis: $(c).val() }, function (data) {
            $("#CityName").val(data);
        });

        $.getJSON(url3, { Dis: $(z).val() }, function (data) {
            $("#Zipcode").val(data);
        });

    });
</script>
<script src="~/Scripts/scStateCity.js"></script>

@using (Html.BeginForm("UserEdit", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CompanyKey)
    <div class="row">

        <div class="panel panel-primary">
            <div class="panel-heading">Company Info</div>
            <div class="panel-body">
                <div class="form-horizontal">



                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <img src="@Url.Action("GetCompanyLogo", "ShowImage", new { id = Model.CompanyKey })" alt="User Image" />


                                @Html.LabelFor(model => model.Logo, "Upload Logo (Maximum height 70px)", htmlAttributes: new { @class = "control-label col-md-6" })
                                @Html.HiddenFor(model => model.CompanyKey)
                                <div class="col-md-6">
                                    <input type="file" name="file" />

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyID, "ID", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompanyID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyName, "Name", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyAddress, "Address", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompanyAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompanyAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyAddress, "State", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    <input type="text" name="StateName" id="StateName" required="required" class="form-control" />
                                    @Html.HiddenFor(model => model.StateCode, new { id = "StateCode", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.CompanyAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyAddress, "City", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    <input type="text" name="CityName" id="CityName" required="required" class="form-control" />
                                    @Html.HiddenFor(model => model.CityKey, new { id = "CityKey", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.CompanyAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyAddress, "Zipcode", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    <input type="text" name="Zipcode" id="Zipcode" required="required" class="form-control" />
                                    @Html.HiddenFor(model => model.ZIPKey, new { id = "ZIPKey", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.CompanyAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyPhone, "Phone #", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompanyPhone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompanyPhone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyMobile, "Mobile #", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompanyMobile, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompanyMobile, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyEmail, "Email Address", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompanyEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompanyEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyWebsite, "Website", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompanyWebsite, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompanyWebsite, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyFax, "Fax", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompanyFax, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompanyFax, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ContactPersonName, "Contact Person", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ContactPersonName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ContactPersonName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, "Title", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ContactPersonNo, "Contact #", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ContactPersonNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ContactPersonNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ContactEmail, "Email", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ContactEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>





                </div>
                <div class="panel-footer">

                    @*@Html.ActionLink("Details", "UserDetails", "Companies")*@

                    <a href="@Url.Action("UserDetails", "Companies")" class="btn btn-primary">Details </a>

                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a href="@Url.Action("Setup", "UserHome")" class="btn btn-primary">Cancel </a>

                </div>
            </div>
        </div>







    </div>

}