<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RCS</title>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $(document).ready(function () {
            var temp = "";
            var asd = location.pathname;

            $('li.active active-menu').removeClass('active active-menu');
            $('a[href="' + asd + '"]').closest('li').addClass('active active-menu');

            $('a[href="' + asd + '"]').closest('ul.nav-second-level').addClass('collapse in');
        });
  //function preventBack(){window.history.forward();}
  //setTimeout("preventBack()", 0);
  //window.onunload=function(){null};
    </script>
</head>
@using Jamiahsalafiyah.Web.Models
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">

                <a class="navbar-brand" href="@Url.Action("Index", "UserHome")">
                    
                    <center><img src="~/Content/ss_logo_small.png" height="50px" /></center>
                </a>
            </div>

            <div class="notifications-wrapper">
                <ul class="nav">
                    <li><div style="padding-left:400px;"></div></li>
                    @*<li><img src="@Url.Action("GetCompanyLogo", "ShowImage" ,new{id=GlobalClass.Company.CompanyKey})" alt="User Image" height="70px" /></li>*@


                    @*<li style="float:right;"><a href="@Url.Action("Setup","UserHome")"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>*@

                    <li style="float:right;" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user-plus"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="@Url.Action("MyProfile","Staff")"><i class="fa fa-user-plus"></i> My Profile</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ChangePass","AssignAccess")"><i class="fa fa-user-plus"></i> Change Password</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="@Url.Action("Logout","UserHome")"><i class="fa fa-sign-out"></i> Logout</a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <div id="menu">
            <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu">


                        <li class="me">
                            <a href="@Url.Action("Index", "UserHome")"><i class="fa fa-dashboard "></i>Home</a>
                        </li>

                        <li class="me">
                            <a href="@Url.Action("Index", "Categories")"><i class="fa fa-dashboard "></i>Category</a>
                        </li>

                        <li class="me">
                            <a href="@Url.Action("Index", "Departments")"><i class="fa fa-dashboard "></i>Department</a>
                        </li>
                        <li class="me">
                            <a href="@Url.Action("Index", "SessionYears")"><i class="fa fa-dashboard "></i>Session</a>
                        </li>
                        <li class="me">
                            <a href="@Url.Action("Index", "SessionMonths")"><i class="fa fa-dashboard "></i> Month</a>
                        </li>
                        <li class="me">
                            <a href="@Url.Action("Index", "Subjects")"><i class="fa fa-dashboard "></i>Subjects</a>
                        </li>
                        <li class="me">
                            <a href="@Url.Action("Index", "ResidentTypes")"><i class="fa fa-dashboard "></i>Resident Type</a>
                        </li>
                        <li class="me">
                            <a href="@Url.Action("Index", "Genders")"><i class="fa fa-dashboard "></i>Gender</a>
                        </li>

                        
                        <li class="me">
                            <a href="@Url.Action("Index", "TutionFeeTypes")"><i class="fa fa-dashboard "></i>Tution Fee Type</a>
                        </li>

                        <li class="me">
                            <a href="@Url.Action("Index", "MonthlyTutionFees")"><i class="fa fa-dashboard "></i>Monthly Tution Fee</a>
                        </li>

                        <li class="me">
                            <a href="@Url.Action("Create", "StudentInfo")"><i class="fa fa-dashboard "></i>Student Infoes</a>
                        </li>

                        
                        
                        @*@{
                            JAMAIAHSALAFIYAH_HOUSTONEntities db = new JAMAIAHSALAFIYAH_HOUSTONEntities();

                            var SeMod = from x in db.UserGroupModule where x.Modules.IsDelete == false && x.UserGroupKey == GlobalClass.LoginUser.Usergr && x.CompanyKey == GlobalClass.Company.CompanyKey select x;
                            SeMod = SeMod.OrderBy(m => m.Modules.ModuleLevel);
                        }




                        @foreach (var item in SeMod)
                        {
                            var form = from x in db.UserGroupForm where x.UserGroupKey == GlobalClass.LoginUser.Usergr && x.ModuleKey == item.ModuleKey && x.CompanyKey == GlobalClass.Company.CompanyKey select x;
                            form = form.OrderBy(m => m.Forms.FormLevel);
                            if (form.Count() == 1)
                            {
                                foreach (var fItem in form)
                                {
                                    <li class="me">
                                        <a href="@Url.Action(fItem.Forms.FormView, fItem.Forms.FormController)"><i class="fa fa-cogs "></i>@Html.DisplayFor(model => fItem.Forms.FormName)</a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li>
                                    <a href="#"><i class="fa fa-sitemap "></i>@Html.DisplayFor(modelItem => item.Modules.ModuleName) <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        @foreach (var fItem in form)
                                        {
                                            <li class="me">
                                                <a href="@Url.Action(fItem.Forms.FormView, fItem.Forms.FormController)"><i class="fa fa-cogs "></i>@Html.DisplayFor(model => fItem.Forms.FormName)</a>
                                            </li>
                                        }

                                    </ul>
                                </li>
                            }

                        }*@



                    </ul>
                </div>

            </nav>

        </div>
        <!-- /. SIDEBAR MENU (navbar-side) -->
        <div id="page-wrapper" class="page-wrapper-cls">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-head-line">@RenderSection("PageHeader", required: false)</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                        @RenderSection("scripts", required: false)
                    </div>
                </div>

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <footer>
        <img src="~/Content/ss_logo_small.png" height="70px" />  Developed by Suresoft Technology Ltd <center><a href="@Url.Action("Index", "UserHome")"><i class="fa fa-home"></i> Back Home</a></center>
    </footer>



</body>
</html>
