@model Jamiahsalafiyah.Web.Models.StudentAssigned

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StudentAssigned</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidentType.ResidentType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentType.ResidentType1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentInfo.StudentNameBangla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentInfo.StudentNameBangla)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
