@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Jamiahsalafiyah.Web.Models




@section PageHeader{

    <i class="glyphicon glyphicon-cog"></i> Settings

}

<div class="row">
    <div class="col-xs-12">
        <div class="col-md-3">
            <center>
                <a href="@Url.Action("Doc", "Setup")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-book"></i><br />
                        document setup
                    </h4>
                </a>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <a href="@Url.Action("Doctype", "Setup")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-edit"></i><br />
                        Document Type
                    </h4>
                </a>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <a href="@Url.Action("Index", "EmailSetup")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-envelope"></i><br />
                        Email configuration
                    </h4>
                </a>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <a href="@Url.Action("JobType", "Setup")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-indent-left"></i><br />
                        Job priority
                    </h4>
                </a>
            </center>
        </div>

    </div>

    <div class="col-xs-12">
        <div class="col-md-3">
            <center>
                <a href="@Url.Action("JobStatus", "Setup")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-screenshot"></i><br />
                        job status
                    </h4>
                </a>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <a href="@Url.Action("Trade", "Setup")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-random"></i><br />
                        trade
                    </h4>
                </a>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <a href="@Url.Action("SalesCharge", "Setup")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-certificate"></i><br />
                        sales Charge type
                    </h4>
                </a>
            </center>
        </div>
        @*<div class="col-md-3">
                <center>
                    <a href="@Url.Action("SalesStatus", "Setup")" class="thumbnail">
                        <h4>
                            <i class="glyphicon glyphicon-tasks"></i><br />
                            sales status
                        </h4>
                    </a>
                </center>
            </div>*@
        <div class="col-md-3">
            <center>
                <a href="@Url.Action("AccountingStatus", "Setup")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-equalizer"></i><br />
                        Accounting Status Setup
                    </h4>
                </a>
            </center>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="col-md-3">
            <center>
                <a href="@Url.Action("Create", "MgtState")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-qrcode"></i><br />
                        GIS
                    </h4>
                </a>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <a href="@Url.Action("UserEdit", "Companies")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-queen"></i><br />
                        Company Info
                    </h4>
                </a>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <a href="@Url.Action("Index", "MgtTeam")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-stats"></i><br />
                        Team Setup
                    </h4>
                </a>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <a href="@Url.Action("Index", "MgtCustomerLogin")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-apple"></i><br />
                        Customer Login
                    </h4>
                </a>
            </center>
        </div>
    </div>

    <div class="col-xs-12">

        <div class="col-md-3">
            <center>
                <a href="@Url.Action("Index", "GridSetup")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-blackboard"></i><br />
                        Dashboard Grid Setup
                    </h4>
                </a>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <a href="@Url.Action("Users", "GridSetup")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-briefcase"></i><br />
                        Dashboard Grid Usergroups
                    </h4>
                </a>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <a href="@Url.Action("Index", "MgtVendorLogin")" class="thumbnail">
                    <h4>
                        <i class="glyphicon glyphicon-bishop"></i><br />
                        Vendor Login
                    </h4>
                </a>
            </center>
        </div>
    </div>


</div>

